body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 7rem;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  margin-top: -200px;
  color: #252a40;
  /* text-shadow: 5px 5px 5px #000000; */
}

header {
  background-image: url(../JPG/09.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
}

.second-input {
  max-width: 4%;
  height: 38px; /*perchè????*/
}

.justDoItItem-color {
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
}

.justdoit-item {
}

.justdoit-item .justdoit-item-btn {
  opacity: 0;
}

.justdoit-item:hover .justdoit-item-btn {
  opacity: 1;
}
